.square {
  height: 6rem;
  width: 6rem;
  font-size: 4rem;
  background-color: rgb(208, 211, 214);
  color: #282c34;
  border: 0.2rem solid #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.X-line {
  background: hsl(165, 82%, 51%);
  color: white;
}
.O-line {
  background: hsl(194, 82%, 51%);
  color: white;
}
.dull {
  opacity: 0.6;
}
.gold {
  color: gold;
}
.tie {
  background-color: lightslategray;
}
