@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

.table {
  height: 10rem;
  width: 18rem;
}

.cell {
  font-family: "Indie Flower", cursive;
  border-collapse: collapse;
  border: 1px solid #fff;
  padding: 5px 10px;
}
.table-head .X-Box {
  background: hsl(165, 82%, 51%);
  /* color: white; */
}

.table-head .O-Box {
  background: hsl(194, 82%, 51%);
  /* color: white; */
}
.gold {
  color: gold;
}
.table-head .cell {
  font-size: 3rem;
}
.dull {
  background: #d0d3d6;
}
.point {
  font-size: 5rem;
}
.table {
  border-collapse: collapse;
  border-style: hidden;
}

.table-head > .row {
  border-collapse: collapse;
  border: 2px solid #fff;
}
