.container {
  margin: 0 1rem;
  position: relative;
}

.big-square {
  display: grid;
  grid-template-columns: repeat(3, 6rem);
}

#start-btn {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: #282c34;
  margin-bottom: 1.5rem;
  background: #1de9b6;
  line-height: 1.15;
  font-size: 20px;
}

#start-btn :hover {
  transition: all 0.5s ease;
  box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
}

.boxy {
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

.boxy.show {
  opacity: 1;
}
.how-to-play-btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 1rem;
  font-weight: 200;
  opacity: 0.6;
  border-bottom: 1px dotted;
}
