@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

.ver-container {
  font-family: "Indie Flower", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 3rem;
}
