.rule-box {
  cursor: pointer;
  position: absolute;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  /* margin: auto; */
}
.rules {
  margin: 1rem 0;
  font-size: 1.3rem;
  font-weight: 400;
  opacity: 0.6;
}
.rules > li {
  position: relative;
  text-align: left;
  padding-left: 40px;
  margin-bottom: 5px;
  list-style-type: none;
}
.rules > .odd::before {
  content: "\2715";
  position: absolute; /* Position the cross symbol absolutely */
  left: 0; /* Position the cross symbol to the left */
  top: 50%; /* Adjust the vertical alignment of the cross symbol */
  transform: translateY(-50%); /* Center the cross symbol vertically */
  margin-right: 10px;
}

.rules > .even::before {
  content: "O";
  position: absolute; /* Position the cross symbol absolutely */
  left: 0; /* Position the cross symbol to the left */
  top: 50%; /* Adjust the vertical alignment of the cross symbol */
  transform: translateY(-50%); /* Center the cross symbol vertically */
  margin-right: 10px;
}
